@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@900&display=swap');

@font-face {
  font-family: Sofia;
  src: url('../fonts/SofiaSansExtraCondensed-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: PoppinsBold;
  src: url('../fonts/Poppins-Bold.ttf');
  font-display: swap;
}

/* fonts */
@font-face {
  font-family: PoppinsSemi;
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: PoppinsLight;
  src: url('../fonts/Poppins-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: GaretHeavy;
  src: url('../fonts/Garet-Heavy.ttf');
  font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@900&display=swap');

html {
  scroll-behavior: smooth;
  color: rgb(84, 80, 80);
  font-family: PoppinsLight, sans-serif;
  /* font-size: clamp(0.75rem, 0.711rem + 0.211vw, 0.9rem); */
  font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  line-height: 2;

}

/* variable base font size for smaller and larger devices */


.h80vh {
  height: 80vh;
}

/* additional colors */
.skin {
  background-color: #ffe5b4;
  background-color: white;
  /* background: linear-gradient(to right, #ffe5b4 60%, #FFD586);*/
  /* background-color: #F2F3F5; */
}

/* headings */
.primary {
  color: #C30b0b;
  /* color: #f42a2a; */
}

.hero {
  background-color: #C30b0b;
  /* background-color: #f42a2a; */
  /* background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%); */
}

.iit {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.pink {
  color: #FF6161;
}

.arial {
  font-family: GaretHeavy, serif;

}

h1,
h2,
h3 {
  font-family: PoppinsBold, serif;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: clamp(0.875rem, 1vw + 1rem, 1.875rem);
}

p,
ul,
a,
button {
  font-weight: 300;
  letter-spacing: 0.08em;
}

/* only for header headings wrap */
.hide {
  display: none;

}

@media screen and (min-width:400px) {
  .hide {
    display: block;
  }
}

/* underlines for headings */
strong {
  position: relative;
}

strong::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0.25rem;
  right: 0.25rem;
  height: clamp(1rem, 0.6094rem + 0.6250vw, 1.2rem);
  z-index: -1;
  background-image: url("/u1.svg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* @media screen and (min-width:600px) {
  strong::after {
    bottom: -0.125rem;
  }
} */

p>strong {
  font-weight: 400;
}

p>strong::after {
  bottom: -0.2rem;
  height: 0.5rem;
  left: -0.25rem;
  right: -0.25rem;
}


/* background image on home */
.custom-img {
  background-image: url('/Global\ Governance\ Initiative\ .jpg');

}

@media screen and (max-width:500px) {
  .custom-img {
    background-image: url('/ggiMobile.jpg');
  }
}


.iframe {
  height: 250px;
  width: 440px;

}

@media screen and (max-width:600px) {
  .iframe {
    height: 200px;
    width: 300px;
  }
}


.bg-custom-underline {
  background-image: url('/ceo.jpg');
  background-repeat: repeat-x;
  background-size: 100% 14px;
  background-position: bottom;

}

.ylp1 {
  background-image: url('/ylp1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ylp2 {
  background-image: url('/ylp2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ylp3 {
  background-image: url('/ylp3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ylp4 {
  background-image: url('/ylp4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ylp5 {
  background-image: url('/ylp5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.exe1 {
  background-image: url('/executive.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.exe2 {
  background-image: url('/edited_graduation_photo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.exe3 {
  background-image: url('/ylp2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.exe4 {
  background-image: url('/ylp3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.exe5 {
  background-image: url('/ylp4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 350px;
  margin: auto 0.5rem;
  text-align: center;
}

.roboto {
  font-family: Sofia, sans-serif;
}

.hover-30:hover {
  content: url("/30u30.png");
}
