@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: PoppinsSemi;
  src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: PoppinsLight;
  src: url('/fonts/Poppins-Light.ttf');
}


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}


/* additional colors */
.skin{
  background-color: #FBEDE0;
  background-color: #F5F5F5;
}

/* headings */
h1,
h2,
h3 {
  font-weight: 800;
  font-family: PoppinsSemi,'Poppins',sans-serif;
  color: #CF1515;
  text-align: center;
  letter-spacing: 0.04em;
  text-justify: inter-word;
}

p{
  font-weight: 100;
  font-size: 18px;
  font-family: PoppinsLight,'Poppins',sans-serif;
}

/* background image on home */
.custom-img {
  background-image: url('/Global\ Governance\ Initiative\ .jpg')
}

/* youtube video */
.video-responsive {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 40%;
  width: 30%;
  position: absolute;

}
